---
import Layout from '@layouts/Layout.astro';
import Info from '@components/Info.astro';
import Divider from '@components/Divider.astro';
import ServiceCard from '@components/ServiceCard';

import '../styles/base.css';
const test = () => alert('MERHABA');
---

<Layout title="Welcome to Astro.">
  <div class="h-96"></div>
  <Info title="Our Service" description="Our aim is to fill a gap in niche market of Trade" />
  <ServiceCard client:load />
  <Divider />
  <Info
    title="The Prodrive Fleet"
    description="We also take custom orders and will help you acquire a specific yacht"
  />
</Layout>
